<!DOCTYPE html>
<html>
  <head>
    <title>Donation Success - Empower Kids</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="container">
      <div class="success-message">
        <h1>Thank You for Your Donation!</h1>
        <p>
          Your generous contribution will help make a difference in children's
          lives.
        </p>
        <a href="/" class="btn btn-primary">Return to Home</a>
      </div>
    </div>
  </body>
</html>
