<form action="/auth/register-child" method="POST" enctype="multipart/form-data">
  <!-- other form fields -->
  <div class="form-group">
    <label for="photo">Photo</label>
    <input
      type="file"
      class="form-control"
      id="photo"
      name="photo"
      accept="image/*"
      required
    />
  </div>
  <!-- other form fields -->
  <button type="submit">Register Child</button>
</form>
